body {
    margin: 0;
}
.container {
    display: flex;
    align-items: flex-start;
}
.sidebar-scroll-area {
    width: 100%;
    height: 100vh;
    max-width: 240px;
    width: 100%;
}
.sidebar {
    width: 100%;
    background-color: #282c2f;
    // height: 100vh;
    // overflow-y: auto;
    // overflow-x: hidden;
    padding: 0 0 50px 0;
    position: relative;
    z-index: 25;
    box-shadow: inset -2px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.sidebar-title {
    display: block;
    background: #404449;
    margin: 0;
    padding: 10px 20px;
    color: #eef3f4;
    position: sticky;
    top: 0;
    z-index: 20;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center; // vertically
    justify-content: flex-start; // horizontally
    min-height: 100vh;
    width: 100%;
    background-color: #f4f6f6;
    position: sticky;
    top: 0;
    padding-top: 30px;
    .preview-inner {
        width: 100%;
        max-width: 900px;
        padding: 0 25px;
    }
    .prism-wrapper {
        width: 100%;
        max-width: 900px;
        // position: sticky;
        // top: 25px;
        pre {
            max-height: calc(100vh - 200px);
        }
        code span {
            text-decoration: none;
        }
    }
}
.right-bar {
    width: 100%;
    max-width: 250px;
    background-color: #282c2f;
    height: 100vh;
}
.font-select {
    width: 100%;
    background: #282c2f;
    color: #e7eaee;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #404449;
}
.app-title {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-transform: uppercase;
    letter-spacing: 8px;
    width: 100%;
    padding: 20px;
    margin: 0;
    font-size: 1.125rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.03),
        0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 50;
}
.react {
    display: flex;
    color: black;
    margin-left: 50%;
    margin: 10vh;
}
.input-block {
    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    // position: relative;
    border-top: 1px solid #404449;
    align-items: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    label {
        margin-right: 10px;
        color: #eef3f4;
        font-size: 0.75rem;
        // font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .swatch {
        height: 20px;
        width: 20px;
        border: 0;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: 1px solid #7b8184;
        &:hover {
            border: 2px solid #a8afb3;
        }
    }
    .picker-wrapper {
        position: relative;
        z-index: 50;
        display: flex;
        justify-content: center;
    }
    .sketch-picker {
        background: transparent !important;
        label {
            color: white !important;
        }
        input {
            background: #7b8184 !important;
            box-shadow: none !important;
        }
        .flexbox-fix {
            border: 0 !important;
        }
    }
}

.language-select {
    appearance: none;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.125rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.03),
        0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    color: #3f4652;
    background: url('https://api.iconify.design/bx:bx-chevron-down.svg?color=%233f4652')
        no-repeat right 15px center / 25px 25px;
}
.lang-label,
.gen-code-label {
    display: block;
    font-size: 0.875rem;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #3f4652;
    margin-top: 25px;
}
.section {
    width: 100%;
}
.generated-code {
    width: 100%;
    margin-bottom: 0px;
    margin: 0 auto;
    pre {
        height: 500px;
        overflow-y: auto;
    }
    .prism-wrapper {
        margin: 0 auto;
    }
}

.btn {
    background: #a5deff;
    padding: 10px 20px;
    border-radius: 8px;
    color: #282c2f;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.export-controls {
    padding: 12px 20px;
    background: #e7eaee;
    position: sticky;
    margin-top: auto;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: inset 2px 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.download-link,
.view-gen-code {
    appearance: none;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.125),
        0px 2px 15px 0px rgba(0, 0, 0, 0.125);
    color: #282c2f;
    transition: all 100ms;
    font-size: 0.875rem;
    margin-left: 20px;
    border: none;
    &:hover {
        transform: scale(1.02);
    }
}
