body {
    margin: 0;
}
.container {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    width: 240px;
    flex-shrink: 0;
    background-color: #282c2f;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 50px 0;
    position: relative;
    z-index: 25;
    box-shadow: inset -2px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

// ::-webkit-scrollbar {
//     width: 11px;
// }
// ::-webkit-scrollbar-track {
//     background: #282c2f;
// }
// ::-webkit-scrollbar-thumb {
//     background: #404449;
//     border: 1px solid #282c2f;
// }
.sidebar-title {
    display: block;
    background: #404449;
    margin: 0;
    padding: 10px 20px;
    color: #eef3f4;
    position: sticky;
    top: 0;
    z-index: 20;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center; // vertically
    justify-content: flex-start; // horizontally
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: calc(100vw - 480px);
    position: sticky;
    top: 0;
    padding-top: 30px;
    .preview-inner {
        width: 100%;
        max-width: 900px;
        padding: 0 25px;
    }
    .prism-wrapper {
        width: 100%;
        max-width: 900px;
        // position: sticky;
        // top: 25px;
        pre {
            max-height: calc(100vh - 200px);
        }

        code span {
            text-decoration: none;
        }
    }
}
.main-header {
    display: flex;
    align-items: stretch;
    margin-bottom: 25px;
}
.lang-select-wrapper {
    width: 100%;
    margin-right: 20px;
}
.canvas-color {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background: #fff;
    padding: 0px 10px;
    label {
        white-space: nowrap;
        margin-right: 10px;
        color: #3f4652;
    }
    .picker-wrapper {
        position: absolute;
        right: 0;
        top: 40px;
    }
}
.right-bar {
    position: relative;
    width: 240px;
    flex-shrink: 0;
    background-color: #282c2f;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .right-bar-inner {
        padding-bottom: 10px;
    }
    .credits {
        background: #3f4652;
        margin-top: auto;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        color: #a8afb3;
        text-align: center;
        padding: 10px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            margin: 0 5px;
            height: 24px;
            width: 24px;
        }
    }
}
.font-select {
    width: 100%;
    background: #282c2f;
    color: #e7eaee;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #404449;
    appearance: none;
    background-image: url('https://api.iconify.design/bx:bx-chevron-down.svg?color=%23a8afb3');
    background-size: 25px;
    background-position: right 17px center;
    background-repeat: no-repeat;
}
.font-size {
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid #404449;
}
.font-size-input {
    margin: 0 10px;
    width: 50px;
    background: #3f4652;
    border: 0;
    color: #eef3f4;
    padding: 3px;
}
.app-title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    // width: 100%;
    margin: 0;
    margin-right: 10px;
    font-size: 0.875rem;
    position: relative;
    z-index: 50;
    color: #404449;
}
.tagline {
    margin-right: auto;
    font-style: italic;
    color: #404449;
    font-size: 0.75rem;
    a {
        color: #282c2f;
    }
}
@media (max-width: 1080px) {
    .app-title,
    .tagline {
        display: none;
    }
}
.react {
    display: flex;
    color: black;
    margin-left: 50%;
    margin: 10vh;
}
.swatch {
    height: 20px;
    width: 20px;
    border: 0;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid #7b8184;
    &:hover {
        border: 2px solid #a8afb3;
    }
}
.input-block {
    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    // position: relative;
    border-top: 1px solid #404449;
    align-items: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    label {
        margin-right: 10px;
        color: #eef3f4;
        font-size: 0.75rem;
        // font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .picker-wrapper {
        position: relative;
        z-index: 50;
        display: flex;
        justify-content: center;
    }
    .sketch-picker {
        background: transparent !important;
        label {
            color: white !important;
        }
        input {
            background: #7b8184 !important;
            box-shadow: none !important;
        }
        .flexbox-fix {
            border: 0 !important;
        }
    }
}

.language-select {
    appearance: none;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.03),
        0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    color: #3f4652;
    background-color: #fff;
    background-image: url('https://api.iconify.design/bx:bx-chevron-down.svg?color=%233f4652');
    background-size: 25px;
    background-position: right 10px center;
    background-repeat: no-repeat;
}
.lang-label,
.gen-code-label {
    display: block;
    font-size: 0.875rem;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #3f4652;
    margin-top: 25px;
}
.section {
    width: 100%;
}
.generated-code {
    width: 100%;
    margin-bottom: 0px;
    margin: 0 auto;
    pre {
        height: 500px;
        overflow-y: auto;
    }
    .prism-wrapper {
        margin: 0 auto;
    }
}

.btn {
    background: #a5deff;
    padding: 10px 20px;
    border-radius: 8px;
    color: #282c2f;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.bottom-bar {
    background: #e7eaee;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    box-shadow: inset 0px 2px 20px 0px rgba(0, 0, 0, 0.151);
    .bottom-bar-inner {
        width: 100%;
        margin: 0 auto;
    }
}
.export-controls {
    padding: 12px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.download-link,
.view-gen-code {
    white-space: nowrap;
    appearance: none;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.125),
        0px 2px 15px 0px rgba(0, 0, 0, 0.125);
    color: #282c2f;
    transition: all 100ms;
    font-size: 0.875rem;
    margin-left: 20px;
    border: none;
    &:hover {
        transform: scale(1.02);
    }
}
.gen-code {
    overflow-y: auto;
    max-height: 70vh;
    width: 100%;
}
.gen-prism-wrapper {
    margin: 0;
    pre {
        margin: 0 !important;
        border-radius: 0 !important;
    }
}

.theme-button {
    display: block;
    width: calc(100% - 20px);
    margin: 15px 10px;
    border: none;
    box-shadow: 0px 2px 10px 0px #00000065;
    border: 1px solid #404449;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
}
.theme-button-title {
    padding: 5px;
    background: #404449;
    color: #e7eaee;
    display: block;
    width: 100%;
    font-size: 1rem;
}
.theme-swatches {
    width: 100%;
    display: flex;
    padding: 10px;

    .theme-swatch {
        height: 50px;
        width: 100%;
        // margin: 3px;
    }
}
