body {
    margin: 0;
}
.container {
    display: flex;
    align-items: flex-start;
}
.sidebar {
    width: 100%;
    max-width: 240px;
    background-color: #282c2f;
    min-height: 100vh;
    // overflow-y: auto;
    padding: 0 0 50px 0;
    position: relative;
    z-index: 25;
    box-shadow: inset -2px 0px 30px 0px rgba(0, 0, 0, 0.05);
    .sidebar-title {
        background: #404449;
        margin: 0;
        padding: 10px 20px;
        color: #eef3f4;
        position: sticky;
        top: 0;
        z-index: 20;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center; // vertically
    justify-content: flex-start; // horizontally
    min-height: 100vh;
    width: 100%;
    background-color: #f4f6f6;
    position: sticky;
    top: 0;
    padding-top: 30px;
    .preview-inner {
        width: 100%;
        max-width: 900px;
        padding: 0 25px;
    }
    .prism-wrapper {
        width: 100%;
        max-width: 900px;
        // position: sticky;
        // top: 25px;
    }
}
.app-title {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-transform: uppercase;
    letter-spacing: 8px;
    width: 100%;
    padding: 20px;
    margin: 0;
    font-size: 1.125rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.03),
        0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 50;
}
.react {
    display: flex;
    color: black;
    margin-left: 50%;
    margin: 10vh;
}
.input-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid #404449;
    padding: 10px 20px;
    align-items: center;
    label {
        margin-right: 10px;
        color: #eef3f4;
        font-size: 0.75rem;
        // font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .swatch {
        height: 20px;
        width: 20px;
        border: 0;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: 1px solid #7b8184;
    }
    .picker-wrapper {
        position: absolute;
        display: flex;
        right: 15px;
        bottom: 30px;
        transform: translateX(100%) translateY(100%);
        z-index: 50;
    }
}

.language-select {
    // appearance: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.125rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.03),
        0px 2px 30px 0px rgba(0, 0, 0, 0.08);
    color: #3f4652;
}
.lang-label,
.gen-code-label {
    display: block;
    font-size: 0.875rem;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #3f4652;
    margin-top: 25px;
}
.section {
    width: 100%;
}
.generated-code {
    width: 100%;
    margin-bottom: 0px;
    margin: 0 auto;
    pre {
        height: 500px;
        overflow-y: auto;
    }
    .prism-wrapper {
        margin: 0 auto;
    }
}

.btn {
    background: #a5deff;
    padding: 10px 20px;
    border-radius: 8px;
    color: #282c2f;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.export-controls {
    padding: 12px 20px;
    background: #e7eaee;
    position: sticky;
    margin-top: auto;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: inset 2px 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.download-link {
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.125),
        0px 2px 15px 0px rgba(0, 0, 0, 0.125);
    color: #282c2f;
}
